[toolchain]

[features]
seeds = false
skip-lint = false

[programs.localnet]
battle_coins = "6Rrp7e4J5pxNCQDddWivSbVzEoe2gv4VsrrTLCKKM2GL"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test]
startup_wait = 1000

[test.validator]
url = "https://api.devnet.solana.com"

[[test.validator.clone]]
address = "metaqbxxUerdq28cj1RbAWkYQm3ybzjb6a8bt518x1s"